* {
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

body {
    background-color: hsl(212, 23%, 69%);
    font-size: 13px;
    font-family: "Manrope", sans-serif;
}

.container { 
    max-width: 90%;
    border: 4px solid black;
}

.card {
    max-width: 327px;
    margin: auto;
    background-color: hsl(210, 46%, 95%);
}

.card__img {
    height: 200px;
    margin-bottom: 2rem;
}

.text__container {

}


.card__heading {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 1.5rem;
}

.card__text {
    margin-bottom: 3rem;
    
}
.card__footer {
    display: flex;
    justify-content: space-between;
    
}

.left__side {
    display: flex;
    gap: 1rem;
}


.autor__image {
    border-radius: 50%;
    width: 40px;
}
.author__info {
    display:flex;
    flex-direction: column;
    
}
.author__date {
    color:#9DAEC2;
}
.share__button {
    border-radius: 50%;
    background-color: hsl(212, 23%, 69%);
    padding:.5rem;
}