* {
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

body {
    background-color: hsl(212, 23%, 69%);
    font-size: 13px;
    font-family: "Manrope", sans-serif;
}

.container { 
    max-width: 90%;
    
    
}

.card {
    max-width: 327px;
    margin: 5rem auto;
    background-color: hsl(210, 46%, 95%);
    border-radius: 16px;
}

.card__img {
    height: 200px;
    border-radius: 16px 16px 0 0;
    width: 100%;
}

.text__container {
    padding: 1.5rem;
   
}


.card__heading {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 1.5rem;
    letter-spacing: .25px;
}

.card__text {
    margin-bottom: 3rem;
     color:#9DAEC2;
     line-height: 1.4;
    
}
.card__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.left__side {
    display: flex;
    gap: 1rem;
}


.autor__image {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
.author__info {
    display:flex;
    flex-direction: column;
    
}
.author__name {
    font-weight: 700;
    line-height: 1.4;
}
.author__date {
    color:#9DAEC2;
    line-height: 1.4;
}
.share__button {
    border-radius: 50%;
    background-color: hsl(212, 23%, 69%);
    padding:.5rem;
}


@media  screen and (min-width: 768px) {
    .card {
        display: flex;
        max-width:730px;
        border-radius: 16px;
    }
    .card__img {
        width: 285px;
        height: 280px;
        object-fit: cover;
        border-radius: 16px 0 0 16px;
    }


.card__heading {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 1.5rem;
    letter-spacing: .25px;
}

.card__text {
    margin-bottom: 1.5rem;
     color:#9DAEC2;
     line-height: 1.4;
    
}
}